/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

#GlOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    #RESPONSIVE IMAGES
#HELPERS
# LAYOUT
    #CONTAINER
    #MEDIA QUERIES
    #SEMANTIC GRID SYSTEM
# STRUCTURE
    #SITE HEADER
    #SITE NAV
    #MAIN
        #SECTION
    #SITE FOOTER
*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
}

/* BASE TEXT FONTS */
body {
  font-family: Bilo, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Co-headline, Georgia, "Times New Roman", Times, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE*/
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
  font-family: quincy-cf, serif;
  font-weight: 400;
  font-style: normal;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
  font-family: kepler-std, serif;
  font-weight: 400;
  font-style: normal;
}

.download-hero-text {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-family: kepler-std, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}

.download a {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* LINKS */
a {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(31, 3, 43);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(190, 166, 193);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: Bilo, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 5px solid rgb(32, 2, 31);
  display: table;
  padding: 0 0 0.5em 0;
  margin: 1em auto 3em auto;
}

.site-nav {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.key-section h3 {
  color: white;
}
.key-section p {
  color: white;
}

.keyfeature h3 {
  font-family: quincy-cf, serif;
  font-weight: 400;
  font-style: normal;
}

.character h3 {
  font-family: quincy-cf, serif;
  font-weight: 400;
  font-style: normal;
}
.character p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.site-footer p {
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: rgb(190, 166, 193);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 1em 0;
}
.button:hover {
  background-color: rgb(32, 2, 31);
  color: white;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    margin: 1%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* FULL WIDTH  CONTAINER FIX */
.container-fullwidth .row {
  margin-left: 0;
  margin-right: 0;
}

/* SITE STRUCTURE */
.site-header {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0, 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .logomark {
  max-width: 70px;
  margin-right: 0.7em;
  padding-left: 1em;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}

/* SITE FOOTER */
.site-footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}
.site-footer li {
  color: white;
}
.site-footer p {
  color: white;
}

.site-main {
  overflow-x: hidden;
}

section {
  padding: 4em 0;
  min-height: 101vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO SECTION */
.hero {
  background-color: black;
  text-align: center;
  min-height: 101vh;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero h1 {
  margin-bottom: 0.25em;
  color: rgb(255, 255, 255);
}
.hero p {
  margin: 1em auto;
}

video {
  width: 100% !important;
  height: auto !important;
}

.hero-video {
  max-width: 1600px;
  margin: 0 auto;
}

.about .p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.key-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

.footer-container {
  margin: 0 auto;
  padding: 5em;
  text-align: center;
}
.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-container li {
  padding: 1em;
  margin: 0;
  font-size: 13px;
}
.footer-container img {
  padding: 2em;
}
.footer-container p {
  padding: 0.5em;
  font-size: 13px;
}

.download-icons ul {
  gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about {
  background-image: url(../img/background-star-fade.png);
  background-size: cover;
  margin: 0 auto;
}
#about .p-about {
  max-width: 26em;
  color: white;
  font-size: 1.5em;
}

#keyfeature {
  background-color: black;
  background-image: url(../img/agave-faded-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0 auto;
  max-width: 100%;
}
#keyfeature h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
  padding: 1em;
}
#keyfeature p {
  text-align: center;
  margin: 0 auto;
}
#keyfeature img.agave-left {
  width: 818px;
  height: auto;
  vertical-align: middle;
  float: left;
}
#keyfeature .gif-border {
  position: relative;
}
#keyfeature .gif-border .border {
  position: absolute;
  top: 0;
  left: 0;
}
#keyfeature img {
  margin: 0 auto;
}

#characters {
  background-color: black;
  background-image: url(../../img/1x/black.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
#characters h3 {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 48px;
  padding: 1em;
}
#characters h4 {
  text-align: center;
  color: white;
}
#characters p {
  text-align: center;
  margin: 0 auto;
  max-width: 19em;
  color: white;
}
#characters img {
  padding-top: 2em;
}

#reviews {
  display: block;
  background-image: url(../img/background-star.png);
  background-size: cover;
}
#reviews h3 {
  color: white;
  text-align: center;
}

.bye-star-reviews {
  min-height: 500px;
  position: relative;
}
.bye-star-reviews .star + .review-box {
  display: none;
}
.bye-star-reviews .star:hover + .review-box {
  display: block;
}
.bye-star-reviews .review-box {
  position: absolute;
  background-color: teal;
  padding: 2vh 2vw;
  border-radius: 20px;
  min-width: 50vw;
}
.bye-star-reviews .star1 {
  position: absolute;
  top: 60%;
  left: 30%;
}
.bye-star-reviews .star1 .review-box {
  left: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.bye-star-reviews .star2 {
  position: absolute;
  top: 60%;
  left: 90%;
}
.bye-star-reviews .star2 .review-box {
  right: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/*
 CSS for the main interaction
*/
.tabset > input[type=radio] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tabset {
  max-width: 65em;
}

.tabset {
  outline: dashed 1px black;
  margin: 0 auto;
  text-align: center;
}

#windows .tab-panel p {
  text-align: center;
  margin: o auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#phone .section {
  min-height: none;
}
#phone .container {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#phone .container p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-left: 250px;
}

#windows .section {
  min-height: none;
}
#windows .container {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#windows .container p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-left: 300px;
}

#mac .section {
  min-height: none;
}
#mac .container {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#mac .container p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-left: 300px;
}

/* HELPERS */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav a {
  display: block;
  padding: 1em;
  line-height: 1;
}
.site-nav li {
  background-color: black;
}

.download .button {
  margin-right: 1em;
}

/* CSS ANIMATIONS */
/* ANIMATE SECTION 1 ON SCROOL */
#section1.scroll-triggered[data-sectionstate=inactive] .ki-contentblock-image {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
}
#section1.scroll-triggered[data-sectionstate=inactive] .ki-contentblock-text {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

#section1.scroll-triggered[data-sectionstate=active] .ki-contentblock-image {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}
#section1.scroll-triggered[data-sectionstate=active] .ki-contentblock-text {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

/* ANIMATE SECTION 2 ON SCROOL */
#section2.scroll-triggered[data-sectionstate=inactive] .ki-contentblock-image {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}
#section2.scroll-triggered[data-sectionstate=inactive] .ki-contentblock-text {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  opacity: 0;
}

#section2.scroll-triggered[data-sectionstate=active] .ki-contentblock-image {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#section2.scroll-triggered[data-sectionstate=active] .ki-contentblock-text {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* ANIMATE SECTION 3 ON SCROLL */
#section3 .ki-contentblock-image {
  position: relative;
  margin-top: 4em;
}

#section3 .ki-character {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

#section3.scroll-triggered[data-sectionstate=inactive] .ki-character {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#section3.scroll-triggered[data-sectionstate=active] .ki-character {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-out 1s;
  transition: all 1s ease-out 1s;
}